.prediction-banner {
  background-color: $black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 114px;
  margin-bottom: 40px;

  @media screen and (max-width: 768px) {
    max-height: 130px;
    height: 130px;
  }

  &-text {
    padding-left: 39px;

    @media screen and (max-width: 768px) {
      padding-left: 20px;
    }

    p {
      color: $white;
      font-feature-settings: "clig" off, "liga" off;
      font-size: 16px;
      font-weight: 400;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-title {
      font-size: 20px !important;
      font-weight: 700 !important;
      margin-bottom: 11px;

      @media screen and (max-width: 768px) {
        font-size: 18px !important;
      }
    }
  }

  &-images {
    display: flex;
    align-items: center;

    .second-image {
      margin-left: 18px;
    }

    .first-image {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
