.prediction-banner {
  background-color: $black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 114px;
  margin-bottom: 40px;

  &-text {
    padding-left: 39px;
    p {
      color: $white;
      font-feature-settings: "clig" off, "liga" off;
      font-size: 16px;
      font-weight: 400;
    }

    &-title {
      font-size: 20px !important;
      font-weight: 700 !important;
      margin-bottom: 11px;
    }
  }

  &-images {
    display: flex;
    align-items: center;

    .second-image {
      margin-left: 18px;
    }
  }
}
