.faq-wrapper {
    padding-bottom: 120px;
    background: $black;
    padding-top: 224px;
    color: $white;
}

.faq-header {
    text-align: center;
    margin-bottom: 72px;
}

.faq-title {
    font-size: 64px;
    line-height: 77px;
    margin: 0;
    margin-bottom: 24px;
    font-weight: 800;
}

.faq-subtitle {
    font-size: 32px;
}