.forgot-password {
  max-width: 402px;
  margin: 0 auto;
  padding: 46px 0;
  min-height: calc(100vh - 123px);

  @media screen and (max-width: 900px) {
    max-width: 90%;
  }

  &-title {
    text-align: center;
    margin-bottom: 14px;
    color: $white;
    font-size: 32px;
  }

  &-desc {
    color: #fff;
    font-size: 16.8px;
    line-height: 29.568px;
    margin-bottom: 52px;
    text-align: center;
  }

  &-button {
    background: $light-blue;
    color: $white;
    width: 100%;
    height: 55px;
    border: none;
    padding: 16px 40px;
    border-radius: 40px;
    transition: all 300ms ease-in-out;
    line-height: 25px;
    font-size: 24px;

    &:hover {
      background: $dark-blue;
    }
  }

  &-imgDiv {
    position: relative;
  }

  &-img {
    position: absolute;
    bottom: 0;
    left: 0;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &-img2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
