body, button {
    font-family: 'Nunito Sans', sans-serif;
}

.section-title {
    font-size: 64px;
    line-height: 77px;
    margin: 0;
    margin-bottom: 24px;
    font-weight: 800;
    letter-spacing: -2px;
    @media screen and (max-width: 768px) {
        font-size: 32px;
        line-height: 48px;
    }
}

.section-subtitle {
    font-size: 32px;
    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}
